{#
/**
 * @file
 * Eau de Web Theme override for status messages.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}

{% block messages %}
  {% if tsg__status_message__type == 'default' %}
    {{ attach_library('edwt/bc--alert') }}
    {% for type, messages in message_list %}
      {%
        set classes = [
          'alert',
          'alert-' ~ type,
          type == 'error' ? 'alert-danger',
          type == 'status' ? 'alert-primary',
          'alert-dismissible',
          'fade',
          'show'
        ]
      %}
      <div 
        aria-label="{{ status_headings[type] }}"{{ attributes.addClass(classes)|without('aria-label') }}
        role="alert"
      >
        {% if status_headings[type] %}
          <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
        {% endif %}
        {% if messages|length > 1 %}
          <ul class="messages__list mb-0">
            {% for message in messages %}
              <li class="messages__item">{{ message }}</li>
            {% endfor %}
          </ul>
        {% else %}
          {{ messages|first }}
        {% endif %}

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {# Remove type specific classes. #}
      {% set attributes = attributes.removeClass(classes) %}
    {% endfor %}
  {% else %}
    {{ attach_library('edwt/bc--toasts') }}
    <div class="toast-container position-absolute p-3 bottom-0 end-0">
      {% for type, messages in message_list %}
        {%
          set classes = [
            'toast',
            'toast-' ~ type,
            type == 'error' ? 'bg-danger',
            type == 'error' ? 'text-white',
            type == 'status' ? 'bg-primary',
            type == 'status' ? 'text-white',
            'fade',
            'show'
          ]
        %}
        <div
          aria-label="{{ status_headings[type] }}"{{ attributes.addClass(classes)|without('aria-label') }}
          {# data-bs-autohide="false" #}
          data-bs-delay="6000"
          aria-live="assertive"
          aria-atomic="true"
          role="alert"
        >
          {% if status_headings[type] %}
            <div class="toast-header">
              <strong class="me-auto">{{ status_headings[type] }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          {% endif %}

          <div class="toast-body">
            {% if messages|length > 1 %}
              <ul class="messages__list mb-0">
                {% for message in messages %}
                  <li class="messages__item">{{ message }}</li>
                {% endfor %}
              </ul>
            {% else %}
              {{ messages|first }}
            {% endif %}
          </div>
        </div>
        {# Remove type specific classes. #}
        {% set attributes = attributes.removeClass(classes) %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock messages %}
